#container {
	max-width: 620px;
	margin: 70px auto;
	text-align: center;
}

strong {
	display: block;
}

#add-profile {
	margin-bottom: 20px;
}

.profile-container {
	margin: 0 auto;
}

.profile {
	background-color: #ddd;
	margin: 0 auto 20px;
	width: 300px;
	padding: 10px;
}

.avatar img {
	width: 100px;
	float: left;
}